@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto</h1>
    <p><a href="http://localhost:5007/Home/Prenotazioni">clicca per visualizzare tutte le prenotazioni</a>.</p>
    <p>oppure esegui una nuova prenotazione tramite prenota</p>
</div>
